<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact response</title>
</head>
<body>
    <div>
        <p>
            hello <%=name%>,
            <br> Thanks for contacting us, we will set your appointment with <%=user%> at <%=time%> on <%=date%> <br>
            we will contact you via your email @<%=email%> if theres any new update.
        </p>
    </div>
</body>
</html>